<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Estudiantes</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>

<div class="container">
  <h1>Lista de Estudiantes</h1>
  <a href="/estudiantes/nuevo" class="add-button">Agregar Estudiante</a>

  <table>
    <thead>
    <tr>
      <th>Matrícula</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="estudiante : ${estudiantes}">
      <td th:text="${estudiante.matricula}"></td>
      <td th:text="${estudiante.nombre}"></td>
      <td th:text="${estudiante.apellido}"></td>
      <td th:text="${estudiante.telefono}"></td>
      <td>
        <a th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})}" class="edit-button">Editar</a>
        <a th:href="@{/estudiantes/eliminar/{id}(id=${estudiante.id})}" class="delete-button">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
